* {
    font-family: "Ubuntu Nerd Font";
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
window#waybar {
    min-height: 0;
    color: #fff; 
    border-radius: 12px;
}

window#waybar {
    /* From https://css.glass */
    background: rgba(0, 128, 255, 0.59);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 99, 198, 0.59);
}

tooltip {
    background: rgba(43, 48, 59, 0.9);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

button:hover {
    box-shadow: rgba(43, 48, 59, 0.9);
    text-shadow: inherit;
    background: rgba(0, 99, 198, 0.4);
}
#workspaces button {
    background: none;
    color: #fff;
    border: rgba(100, 114, 125, 0.5);
    padding: 0 3px;
}
