{ pkgs, ... }:

{
  users.users = {
    exampleuser = {
      uid = 1000;
      isNormalUser = true;
      description = "Example User";
      extraGroups = [ "networkmanager" "wheel" "dialout" "input" ];
      shell = pkgs.zsh;
      hashedPassword = "";
    };
  };

  users.groups = {
    examplegroup.gid = 30004;
  };
}
